<div class="pt-6 px-4">
  <div class="w-full grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-4">
    <div class="card 2xl:col-span-2">
      <div class="flex items-center justify-between mb-4">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">$45,385</span>
          <h3 class="text-base font-normal text-gray-500">Sales this week</h3>
        </div>
        <div class="flex items-center justify-end flex-1 text-green-500 text-base font-bold">
          12.5%
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>
      <div id="main-chart">
        <div id="apexcharts1l64fwty" class="apexcharts-canvas apexcharts1l64fwty apexcharts-theme-light"
          style="width: 867px; height: 420px;"><svg id="SvgjsSvg2025" width="867" height="420"
            xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable hovering-zoom"
            xmlns:data="ApexChartsNS" transform="translate(0, 0)"
            style="background: transparent none repeat scroll 0% 0%;">
            <g id="SvgjsG2027" class="apexcharts-inner apexcharts-graphical"
              transform="translate(74.06666564941406, 30)">
              <defs id="SvgjsDefs2026">
                <clipPath id="gridRectMask1l64fwty">
                  <rect id="SvgjsRect2033" width="767.4500007629395" height="350.685" x="-4" y="-2" rx="0" ry="0"
                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                </clipPath>
                <clipPath id="forecastMask1l64fwty"></clipPath>
                <clipPath id="nonForecastMask1l64fwty"></clipPath>
                <clipPath id="gridRectMarkerMask1l64fwty">
                  <rect id="SvgjsRect2034" width="763.4500007629395" height="350.685" x="-2" y="-2" rx="0" ry="0"
                    opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect>
                </clipPath>
              </defs>
              <line id="SvgjsLine2032" x1="-0.5" y1="0" x2="-0.5" y2="346.685" stroke="#b6b6b6" stroke-dasharray="3"
                stroke-linecap="butt" class="apexcharts-xcrosshairs" x="-0.5" y="0" width="1" height="346.685"
                fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line>
              <g id="SvgjsG2041" class="apexcharts-xaxis" transform="translate(0, 0)">
                <g id="SvgjsG2042" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text
                    id="SvgjsText2044" font-family="Inter, sans-serif" x="0" y="375.685" text-anchor="middle"
                    dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2045">01 Feb</tspan>
                    <title>01 Feb</title>
                  </text><text id="SvgjsText2047" font-family="Inter, sans-serif" x="126.57500012715658" y="375.685"
                    text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2048">02 Feb</tspan>
                    <title>02 Feb</title>
                  </text><text id="SvgjsText2050" font-family="Inter, sans-serif" x="253.15000025431314" y="375.685"
                    text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2051">03 Feb</tspan>
                    <title>03 Feb</title>
                  </text><text id="SvgjsText2053" font-family="Inter, sans-serif" x="379.72500038146967" y="375.685"
                    text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2054">04 Feb</tspan>
                    <title>04 Feb</title>
                  </text><text id="SvgjsText2056" font-family="Inter, sans-serif" x="506.3000005086263" y="375.685"
                    text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2057">05 Feb</tspan>
                    <title>05 Feb</title>
                  </text><text id="SvgjsText2059" font-family="Inter, sans-serif" x="632.875000635783" y="375.685"
                    text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2060">06 Feb</tspan>
                    <title>06 Feb</title>
                  </text><text id="SvgjsText2062" font-family="Inter, sans-serif" x="759.4500007629396" y="375.685"
                    text-anchor="middle" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                    class="apexcharts-text apexcharts-xaxis-label " style="font-family: Inter, sans-serif;">
                    <tspan id="SvgjsTspan2063">07 Feb</tspan>
                    <title>07 Feb</title>
                  </text></g>
                <line id="SvgjsLine2064" x1="0" y1="347.685" x2="759.4500007629395" y2="347.685" stroke="#f3f4f6"
                  stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line>
              </g>
              <g id="SvgjsG2081" class="apexcharts-grid">
                <g id="SvgjsG2082" class="apexcharts-gridlines-horizontal" style="display: none;">
                  <line id="SvgjsLine2091" x1="0" y1="0" x2="759.4500007629395" y2="0" stroke="#e0e0e0"
                    stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                  <line id="SvgjsLine2092" x1="0" y1="57.780833333333334" x2="759.4500007629395" y2="57.780833333333334"
                    stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                  <line id="SvgjsLine2093" x1="0" y1="115.56166666666667" x2="759.4500007629395" y2="115.56166666666667"
                    stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                  <line id="SvgjsLine2094" x1="0" y1="173.3425" x2="759.4500007629395" y2="173.3425" stroke="#e0e0e0"
                    stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                  <line id="SvgjsLine2095" x1="0" y1="231.12333333333333" x2="759.4500007629395" y2="231.12333333333333"
                    stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                  <line id="SvgjsLine2096" x1="0" y1="288.9041666666667" x2="759.4500007629395" y2="288.9041666666667"
                    stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                  <line id="SvgjsLine2097" x1="0" y1="346.68500000000006" x2="759.4500007629395" y2="346.68500000000006"
                    stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line>
                </g>
                <g id="SvgjsG2083" class="apexcharts-gridlines-vertical" style="display: none;"></g>
                <line id="SvgjsLine2084" x1="0" y1="347.685" x2="0" y2="353.685" stroke="#f3f4f6" stroke-dasharray="0"
                  stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2085" x1="126.57500012715657" y1="347.685" x2="126.57500012715657" y2="353.685"
                  stroke="#f3f4f6" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2086" x1="253.15000025431314" y1="347.685" x2="253.15000025431314" y2="353.685"
                  stroke="#f3f4f6" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2087" x1="379.7250003814697" y1="347.685" x2="379.7250003814697" y2="353.685"
                  stroke="#f3f4f6" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2088" x1="506.3000005086263" y1="347.685" x2="506.3000005086263" y2="353.685"
                  stroke="#f3f4f6" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2089" x1="632.8750006357828" y1="347.685" x2="632.8750006357828" y2="353.685"
                  stroke="#f3f4f6" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2090" x1="759.4500007629395" y1="347.685" x2="759.4500007629395" y2="353.685"
                  stroke="#f3f4f6" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line>
                <line id="SvgjsLine2099" x1="0" y1="346.685" x2="759.4500007629395" y2="346.685" stroke="transparent"
                  stroke-dasharray="0" stroke-linecap="butt"></line>
                <line id="SvgjsLine2098" x1="0" y1="1" x2="0" y2="346.685" stroke="transparent" stroke-dasharray="0"
                  stroke-linecap="butt"></line>
              </g>
              <g id="SvgjsG2035" class="apexcharts-area-series apexcharts-plot-series">
                <g id="SvgjsG2036" class="apexcharts-series" seriesName="Revenue" data:longestSeries="true" rel="1"
                  data:realIndex="0">
                  <path id="SvgjsPath2039"
                    d="M 0 346.685L 0 140.98523333333333C 44.301250044504805 140.98523333333333 82.27375008265179 220.72278333333315 126.57500012715658 220.72278333333315C 170.87625017166138 220.72278333333315 208.84875020980837 256.5468999999998 253.15000025431317 256.5468999999998C 297.45125029881797 256.5468999999998 335.42375033696493 42.75781666666671 379.7250003814697 42.75781666666671C 424.0262504259745 42.75781666666671 461.99875046412154 140.98523333333333 506.30000050862634 140.98523333333333C 550.6012505531312 140.98523333333333 588.5737505912781 198.76606666666657 632.875000635783 198.76606666666657C 677.1762506802877 198.76606666666657 715.1487507184347 314.3277333333331 759.4500007629395 314.3277333333331C 759.4500007629395 314.3277333333331 759.4500007629395 314.3277333333331 759.4500007629395 346.685M 759.4500007629395 314.3277333333331z"
                    fill="rgba(6,148,162,0.3)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt"
                    stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0"
                    clip-path="url(#gridRectMask1l64fwty)"
                    pathTo="M 0 346.685L 0 140.98523333333333C 44.301250044504805 140.98523333333333 82.27375008265179 220.72278333333315 126.57500012715658 220.72278333333315C 170.87625017166138 220.72278333333315 208.84875020980837 256.5468999999998 253.15000025431317 256.5468999999998C 297.45125029881797 256.5468999999998 335.42375033696493 42.75781666666671 379.7250003814697 42.75781666666671C 424.0262504259745 42.75781666666671 461.99875046412154 140.98523333333333 506.30000050862634 140.98523333333333C 550.6012505531312 140.98523333333333 588.5737505912781 198.76606666666657 632.875000635783 198.76606666666657C 677.1762506802877 198.76606666666657 715.1487507184347 314.3277333333331 759.4500007629395 314.3277333333331C 759.4500007629395 314.3277333333331 759.4500007629395 314.3277333333331 759.4500007629395 346.685M 759.4500007629395 314.3277333333331z"
                    pathFrom="M -1 3813.535L -1 3813.535L 126.57500012715658 3813.535L 253.15000025431317 3813.535L 379.7250003814697 3813.535L 506.30000050862634 3813.535L 632.875000635783 3813.535L 759.4500007629395 3813.535">
                  </path>
                  <path id="SvgjsPath2040"
                    d="M 0 140.98523333333333C 44.301250044504805 140.98523333333333 82.27375008265179 220.72278333333315 126.57500012715658 220.72278333333315C 170.87625017166138 220.72278333333315 208.84875020980837 256.5468999999998 253.15000025431317 256.5468999999998C 297.45125029881797 256.5468999999998 335.42375033696493 42.75781666666671 379.7250003814697 42.75781666666671C 424.0262504259745 42.75781666666671 461.99875046412154 140.98523333333333 506.30000050862634 140.98523333333333C 550.6012505531312 140.98523333333333 588.5737505912781 198.76606666666657 632.875000635783 198.76606666666657C 677.1762506802877 198.76606666666657 715.1487507184347 314.3277333333331 759.4500007629395 314.3277333333331"
                    fill="none" fill-opacity="1" stroke="#0694a2" stroke-opacity="1" stroke-linecap="butt"
                    stroke-width="4" stroke-dasharray="0" class="apexcharts-area" index="0"
                    clip-path="url(#gridRectMask1l64fwty)"
                    pathTo="M 0 140.98523333333333C 44.301250044504805 140.98523333333333 82.27375008265179 220.72278333333315 126.57500012715658 220.72278333333315C 170.87625017166138 220.72278333333315 208.84875020980837 256.5468999999998 253.15000025431317 256.5468999999998C 297.45125029881797 256.5468999999998 335.42375033696493 42.75781666666671 379.7250003814697 42.75781666666671C 424.0262504259745 42.75781666666671 461.99875046412154 140.98523333333333 506.30000050862634 140.98523333333333C 550.6012505531312 140.98523333333333 588.5737505912781 198.76606666666657 632.875000635783 198.76606666666657C 677.1762506802877 198.76606666666657 715.1487507184347 314.3277333333331 759.4500007629395 314.3277333333331"
                    pathFrom="M -1 3813.535L -1 3813.535L 126.57500012715658 3813.535L 253.15000025431317 3813.535L 379.7250003814697 3813.535L 506.30000050862634 3813.535L 632.875000635783 3813.535L 759.4500007629395 3813.535">
                  </path>
                  <g id="SvgjsG2037" class="apexcharts-series-markers-wrap" data:realIndex="0">
                    <g class="apexcharts-series-markers">
                      <circle id="SvgjsCircle2105" r="0" cx="0" cy="140.98523333333333"
                        class="apexcharts-marker wzxuru5ct no-pointer-events" stroke="#ffffff" fill="#0694a2"
                        fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle>
                    </g>
                  </g>
                </g>
                <g id="SvgjsG2038" class="apexcharts-datalabels" data:realIndex="0"></g>
              </g>
              <line id="SvgjsLine2100" x1="0" y1="0" x2="759.4500007629395" y2="0" stroke="#b6b6b6" stroke-dasharray="0"
                stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line>
              <line id="SvgjsLine2101" x1="0" y1="0" x2="759.4500007629395" y2="0" stroke-dasharray="0" stroke-width="0"
                stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line>
              <g id="SvgjsG2102" class="apexcharts-yaxis-annotations"></g>
              <g id="SvgjsG2103" class="apexcharts-xaxis-annotations"></g>
              <g id="SvgjsG2104" class="apexcharts-point-annotations"></g>
              <rect id="SvgjsRect2106" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0"
                stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect>
              <rect id="SvgjsRect2107" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0"
                stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect>
            </g>
            <rect id="SvgjsRect2031" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0"
              stroke="none" stroke-dasharray="0" fill="#fefefe"></rect>
            <g id="SvgjsG2065" class="apexcharts-yaxis" rel="0" transform="translate(44.06666564941406, 0)">
              <g id="SvgjsG2066" class="apexcharts-yaxis-texts-g"><text id="SvgjsText2067"
                  font-family="Inter, sans-serif" x="20" y="31.6" text-anchor="end" dominant-baseline="auto"
                  font-size="14px" font-weight="500" fill="#6b7280" class="apexcharts-text apexcharts-yaxis-label "
                  style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2068">$6600</tspan>
                  <title>$6600</title>
                </text><text id="SvgjsText2069" font-family="Inter, sans-serif" x="20" y="89.38083333333333"
                  text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                  class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2070">$6500</tspan>
                  <title>$6500</title>
                </text><text id="SvgjsText2071" font-family="Inter, sans-serif" x="20" y="147.16166666666666"
                  text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                  class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2072">$6400</tspan>
                  <title>$6400</title>
                </text><text id="SvgjsText2073" font-family="Inter, sans-serif" x="20" y="204.9425" text-anchor="end"
                  dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                  class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2074">$6300</tspan>
                  <title>$6300</title>
                </text><text id="SvgjsText2075" font-family="Inter, sans-serif" x="20" y="262.72333333333336"
                  text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                  class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2076">$6200</tspan>
                  <title>$6200</title>
                </text><text id="SvgjsText2077" font-family="Inter, sans-serif" x="20" y="320.5041666666667"
                  text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                  class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2078">$6100</tspan>
                  <title>$6100</title>
                </text><text id="SvgjsText2079" font-family="Inter, sans-serif" x="20" y="378.2850000000001"
                  text-anchor="end" dominant-baseline="auto" font-size="14px" font-weight="500" fill="#6b7280"
                  class="apexcharts-text apexcharts-yaxis-label " style="font-family: Inter, sans-serif;">
                  <tspan id="SvgjsTspan2080">$6000</tspan>
                  <title>$6000</title>
                </text></g>
            </g>
            <g id="SvgjsG2028" class="apexcharts-annotations"></g>
          </svg>
          <div class="apexcharts-legend" style="max-height: 210px;"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <!-- Card Title -->
      <div class="mb-4 flex items-center justify-between">
        <div>
          <h3 class="text-xl font-bold text-gray-900 mb-2">Latest Transactions</h3>
          <span class="text-base font-normal text-gray-500">This is a list of latest transactions</span>
        </div>
        <div class="flex-shrink-0">
          <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg p-2">View all</a>
        </div>
      </div>
      <!-- Table -->
      <div class="flex flex-col mt-8">
        <div class="overflow-x-auto rounded-lg">
          <div class="align-middle inline-block min-w-full">
            <div class="shadow overflow-hidden sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Transaction
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Date & Time
                    </th>
                    <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Amount
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white">
                  <tr>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                      Payment from <span class="font-semibold">Bonnie Green</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 23 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      $2300
                    </td>
                  </tr>
                  <tr class="bg-gray-50">
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                      Payment refund to <span class="font-semibold">#00910</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 23 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      -$670
                    </td>
                  </tr>
                  <tr>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                      Payment failed from <span class="font-semibold">#087651</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 18 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      $234
                    </td>
                  </tr>
                  <tr class="bg-gray-50">
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                      Payment from <span class="font-semibold">Lana Byrd</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 15 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      $5000
                    </td>
                  </tr>
                  <tr>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                      Payment from <span class="font-semibold">Jese Leos</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 15 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      $2300
                    </td>
                  </tr>
                  <tr class="bg-gray-50">
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900 rounded-lg rounded-left">
                      Payment from <span class="font-semibold">THEMESBERG LLC</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 11 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      $560
                    </td>
                  </tr>

                  <tr>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">
                      Payment from <span class="font-semibold">Lana Lysle</span>
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">
                      Apr 6 ,2021
                    </td>
                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                      $1437
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="card">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">2,340</span>
          <h3 class="text-base font-normal text-gray-500">New products this week</h3>
        </div>
        <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
          14.6%
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">5,355</span>
          <h3 class="text-base font-normal text-gray-500">Visitors this week</h3>
        </div>
        <div class="ml-5 w-0 flex items-center justify-end flex-1 text-green-500 text-base font-bold">
          32.9%
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">385</span>
          <h3 class="text-base font-normal text-gray-500">User signups this week</h3>
        </div>
        <div class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold">
          -2.7%
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
    <!-- Top Sales Card -->
    <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900">Latest Customers</h3>
        <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
          View all
        </a>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="h-8 w-8 rounded-full" src="/assets/images/users/neil-sims.png" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  Neil Sims
                </p>
                <p class="text-sm text-gray-500 truncate">
                  email@windster.com
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900">
                $320
              </div>
            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="h-8 w-8 rounded-full" src="/assets/images/users/bonnie-green.png" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  Bonnie Green
                </p>
                <p class="text-sm text-gray-500 truncate">
                  email@windster.com
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900">
                $3467
              </div>
            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="h-8 w-8 rounded-full" src="/assets/images/users/michael-gough.png" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  Michael Gough
                </p>
                <p class="text-sm text-gray-500 truncate">
                  email@windster.com
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900">
                $67
              </div>
            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="h-8 w-8 rounded-full" src="/assets/images/users/thomas-lean.png" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  Thomes Lean
                </p>
                <p class="text-sm text-gray-500 truncate">
                  email@windster.com
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900">
                $2367
              </div>
            </div>
          </li>
          <li class="pt-3 sm:pt-4 pb-0">
            <div class="flex items-center space-x-4">
              <div class="flex-shrink-0">
                <img class="h-8 w-8 rounded-full" src="/assets/images/users/lana-byrd.png" alt="Neil image">
              </div>
              <div class="flex-1 min-w-0">
                <p class="text-sm font-medium text-gray-900 truncate">
                  Lana Byrd
                </p>
                <p class="text-sm text-gray-500 truncate">
                  email@windster.com
                </p>
              </div>
              <div class="inline-flex items-center text-base font-semibold text-gray-900">
                $367
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Sessions by device Card -->
    <div class="card">
      <!-- Card Title -->
      <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Acquisition Overview</h3>
      <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
          <thead>
            <tr>
              <th
                class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
                Top Channels</th>
              <th
                class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap">
                Users</th>
              <th
                class="px-4 bg-gray-50 text-gray-700 align-middle py-3 text-xs font-semibold text-left uppercase border-l-0 border-r-0 whitespace-nowrap min-w-140-px">
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-100">
            <tr class="text-gray-500">
              <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Organic
                Search</th>
              <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">5,649
              </td>
              <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                <div class="flex items-center">
                  <span class="mr-2 text-xs font-medium">30%</span>
                  <div class="relative w-full">
                    <div class="w-full bg-gray-200 rounded-sm h-2">
                      <div class="bg-cyan-600 h-2 rounded-sm" style="width: 30%"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="text-gray-500">
              <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Referral</th>
              <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">4,025
              </td>
              <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                <div class="flex items-center">
                  <span class="mr-2 text-xs font-medium">24%</span>
                  <div class="relative w-full">
                    <div class="w-full bg-gray-200 rounded-sm h-2">
                      <div class="bg-orange-300 h-2 rounded-sm" style="width: 24%"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="text-gray-500">
              <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Direct</th>
              <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">3,105
              </td>
              <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                <div class="flex items-center">
                  <span class="mr-2 text-xs font-medium">18%</span>
                  <div class="relative w-full">
                    <div class="w-full bg-gray-200 rounded-sm h-2">
                      <div class="bg-teal-400 h-2 rounded-sm" style="width: 18%"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="text-gray-500">
              <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Social</th>
              <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">1251</td>
              <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                <div class="flex items-center">
                  <span class="mr-2 text-xs font-medium">12%</span>
                  <div class="relative w-full">
                    <div class="w-full bg-gray-200 rounded-sm h-2">
                      <div class="bg-pink-600 h-2 rounded-sm" style="width: 12%"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="text-gray-500">
              <th class="border-t-0 px-4 align-middle text-sm font-normal whitespace-nowrap p-4 text-left">Other</th>
              <td class="border-t-0 px-4 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4">734</td>
              <td class="border-t-0 px-4 align-middle text-xs whitespace-nowrap p-4">
                <div class="flex items-center">
                  <span class="mr-2 text-xs font-medium">9%</span>
                  <div class="relative w-full">
                    <div class="w-full bg-gray-200 rounded-sm h-2">
                      <div class="bg-indigo-600 h-2 rounded-sm" style="width: 9%"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr class="text-gray-500">
              <th class="border-t-0 align-middle text-sm font-normal whitespace-nowrap p-4 pb-0 text-left">Email</th>
              <td class="border-t-0 align-middle text-xs font-medium text-gray-900 whitespace-nowrap p-4 pb-0">456</td>
              <td class="border-t-0 align-middle text-xs whitespace-nowrap p-4 pb-0">
                <div class="flex items-center">
                  <span class="mr-2 text-xs font-medium">7%</span>
                  <div class="relative w-full">
                    <div class="w-full bg-gray-200 rounded-sm h-2">
                      <div class="bg-purple-500 h-2 rounded-sm" style="width: 7%"></div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>